
form(data-action-template= prefix + method.url, method=method.method, target='base', data-auth-method=method.auth, data-output=method.output).hidden
  if method.synopsis
    div.synopsis!=markdown(method.synopsis)
  table
    if method.parameters.length > 0
      tr.noHover
        th.name="name"
        th="value"
        th.description="description"
        th="location"
        th="type"
    each param in method.parameters
      //-console.log(param)
      if param.input != "textarea" &&  param.input != "radio" && param.input!="checkbox" && !param.hidden
        if param.input=="select"
          include ./select
        else
          include ./input

    each param in method.parameters
      if param.input==="textarea" && !param.hidden
        include ./textarea

    each param in method.parameters
      if param.input==="checkbox" && !param.hidden
        include ./checkbox

    each param in method.parameters
      if param.input==="radio" && !param.hidden
        include ./radio

    tr.noHover
      td
      td(colspan=3)
        input.button(type='submit', value='Try it')
        input.clear.button(type='button', value='Clear Results', disabled='true')

  div.results
    h4='URL'
    pre.uri
    h4='Headers'
    pre.headers
    h4='Status'
    pre.status
    div.output.pretty
      ul.json
        li
          a.pretty(href='#')='Body'
        li
          a.raw(href='#')='Raw'
      pre.pretty
      pre.raw
