tr
  td.name=param.name
  td
    - if(!param.type) {
      - param.type = 'text'
    - }

    - var required = false;
    - if(param.required) {
    -   required = true;
    - }
    input(type=param.type, name=param.name, id=param.name,  data-type=param.location, required=required, value=param.default)
  td
      label(for=param.name)=param.description
  td=param.location
  td=param.type


