tr.noHover
  td.name=param.name
  td(colspan=3)
      - var value = param.value || 'true'
      if param.options
        div=param.description
        div.options
          each label, name in param.options
            input(type="radio", name=param.name, id=name, value=name)
            label(for=name)=label
