tr
td.name=param.name
td
  - var required = false;
  - if(param.required) {
  -   required = true;
  - }
  select(name=param.name, id=param.name, required=required)
    each option in param.options
      option(label=option)=option
td
    label=param.description
td=param.location
td=param.type
