html
  head
    script!=js
    title=title
    style=css
  body

  noscript Javascript is required.
    br
    br
    small Please turn on Javascript in order to submit theses requests to the api. Javascript is used to add the authorization headers to the requests.
  div.top
  include ./top
  each endpoint in endpoints
    h2=endpoint.name
    div.endpointDescription!=(endpoint.description) ? markdown(endpoint.description) : ''

    each method in endpoint.methods
      if(!method.hidden)
        div(class="#{method.method}", id=method.method+method.url).container
          div.header
            span.verb=method.method
            h3=method.url
            if method.name
              div.name=method.name
          include ./form
